# ==========================================
# APIs Externas
# ==========================================
# Chave de acesso para o The Movie Database (TMDB)
VITE_TMDB_API_KEY=sua_chave_da_api_do_tmdb_aqui