# ==========================================
# Configurações do banco de dados PostgreSQL
# ==========================================

DB_USER=postgres
DB_HOST=localhost
DB_NAME=nome_do_seu_banco
DB_PASS=sua_senha_aqui
DB_PORT=5432