# ==========================================
# APIs Externas
# ==========================================
# Chave de acesso para o The Movie Database (TMDB)
VITE_TMDB_API_KEY=sua_chave_da_api_do_tmdb_aqui
# ==========================================
# Backend - Envio de e-mail (Esqueceu a senha)
# ==========================================
# Use uma "Senha de app" do Gmail (não a senha normal da conta):
# https://myaccount.google.com/apppasswords
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app_aqui

# Backend - Banco de dados
DB_USER=postgres
DB_HOST=localhost
DB_NAME=nome_do_seu_banco
DB_PASS=sua_senha_aqui
DB_PORT=5432
